# Web Scraping Assignment 4

## Question 1

In [108]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [109]:
driver = webdriver.Chrome(r"C:\Users\gokula krishnan\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
time.sleep(4)
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(6)

In [5]:
element=driver.find_elements_by_xpath('/html/body/div[@id="content"]/div[@id="bodyContent"]/div[@id="mw-content-text"]/div[@class="mw-parser-output"]//table[@class="wikitable sortable jquery-tablesorter"]')[0].find_elements_by_xpath("tbody")[0].find_elements_by_xpath("tr")
# creating empty list
rank=[]
name=[]
uploader=[]
views=[]
upload_date=[]
n=0
for i in element:
    rank.append(i.find_elements_by_xpath("td")[0].text)
    name.append(i.find_elements_by_xpath("td")[1].text)
    uploader.append(i.find_elements_by_xpath("td")[2].text)
    views.append(i.find_elements_by_xpath("td")[3].text)
    upload_date.append(i.find_elements_by_xpath("td")[4].text)

In [6]:
# creating data frame
df =pd.DataFrame({'Rank':rank,'Name':name,'Artist':uploader,'Upload_Date':upload_date,'Views':views})
df

,Rank,Name,Artist,Upload_Date,Views
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","9,453,134,982"
1,2,"""Despacito""[25]",Luis Fonsi,"January 12, 2017","7,572,747,360"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016","5,781,348,353"
3,4,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017","5,483,427,541"
4,5,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015","5,284,905,560"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018","4,549,294,432"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018","4,513,879,675 (as of Sep 29, 2021)"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012","4,461,096,975"
8,9,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014","4,319,159,452"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014","4,220,180,419"
10,11,"""Gangnam Style""[36]",Psy,"July 15, 2012","4,211,421,413"
11,12,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018","3,633,337,215"
12,13,"""Sugar""[39]",Maroon 5,"January 14, 2015","3,565,906,701"
13,14,"""Sorry""[40]",Justin Bieber,"October 22, 2015","3,474,094,697"
14,15,"""Roar""[41]",Katy Perry,"September 5, 2013","3,444,786,615"
15,16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013","3,412,577,920"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014","3,337,279,340"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018","3,291,808,512"
18,19,"""Dark Horse""[45]",Katy Perry,"February 20, 2014","3,155,611,442"
19,20,"""Faded""[46]",Alan Walker,"December 3, 2015","3,155,489,927"
20,21,"""Girls Like You""[47]",Maroon 5,"May 31, 2018","3,143,116,042"
21,22,"""Lean On""[48]",Major Lazer,"March 22, 2015","3,105,926,931"
22,23,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014","3,105,539,316"
23,24,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014","3,104,230,107"
24,25,"""Let Her Go""[51]",Passenger,"July 25, 2012","3,090,217,295"
25,26,"""Axel F""[52]",Crazy Frog,"June 17, 2009","3,035,828,739"
26,27,"""Mi Gente""[53]",J Balvin,"June 29, 2017","2,986,493,839"
27,28,"""Perfect""[54]",Ed Sheeran,"November 9, 2017","2,974,982,274"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010","2,962,613,841"
29,30,"""Hello""[56]",Adele,"October 23, 2015","2,889,107,727"

## Question 2

In [7]:
driver = webdriver.Chrome(r"C:\Users\gokula krishnan\Downloads\chromedriver_win32\chromedriver.exe")

In [8]:
url = "https://www.bcci.tv/"
driver.get(url)
driver.implicitly_wait(20)

In [9]:

International=driver.find_elements_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]')
International[0].click()
International_fixture=driver.find_elements_by_xpath('//a[@href="/international/fixtures" and @class="navigation__link navigation__link--in-drop-down"]')
International_fixture[0].click()
schedule_odi=driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-odi fixture--long event-list-item--long"]')
schedule_odi_list = list(map(lambda x:[x.text.split('\n')[6],x.text.split('\n')[5],x.text.split('\n')[7]+' '+x.text.split('\n')[8],x.text.split('\n')[1]+' '+x.text.split('\n')[2],x.text.split('\n')[3]],schedule_odi))
schedule_t20i=driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-t20i fixture--long event-list-item--long"]')
schedule_t20i_list = list(map(lambda x:[x.text.split('\n')[6],x.text.split('\n')[5],x.text.split('\n')[7]+' '+x.text.split('\n')[8],x.text.split('\n')[1]+' '+x.text.split('\n')[2],x.text.split('\n')[3]],schedule_t20i))
schedule_test=driver.find_elements_by_xpath('//a[@class="js-match event-list__item event-list-item fixture  t-test fixture--long event-list-item--long"]')
schedule_test_list = list(map(lambda x:[x.text.split('\n')[6],x.text.split('\n')[5],x.text.split('\n')[7]+' '+x.text.split('\n')[8],x.text.split('\n')[1]+' '+x.text.split('\n')[2],x.text.split('\n')[3]],schedule_test))
All_Match = schedule_test_list + schedule_t20i_list + schedule_odi_list
#Creating empty list
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]
for i in All_Match:
    Title.append(i[0])
    Series.append(i[1])
    Place.append(i[2])
    Date.append(i[3])
    Time.append(i[4])

In [10]:
#creating dataframe
df = pd.DataFrame({'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Title,Series,Place,Date,Time
0,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur INDIA",25 NOVEMBER,09:30 IST
1,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai INDIA",03 DECEMBER,09:30 IST
2,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg SOUTH AFRICA",17 DECEMBER,13:30 IST
3,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion SOUTH AFRICA",26 DECEMBER,13:30 IST
4,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg SOUTH AFRICA",03 JANUARY,13:30 IST
5,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai INDIA",24 OCTOBER,19:30 IST
6,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai INDIA",31 OCTOBER,19:30 IST
7,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi INDIA",03 NOVEMBER,19:30 IST
8,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai INDIA",05 NOVEMBER,19:30 IST
9,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai INDIA",08 NOVEMBER,19:30 IST
10,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur INDIA",17 NOVEMBER,19:00 IST
11,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi INDIA",19 NOVEMBER,19:00 IST
12,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata INDIA",21 NOVEMBER,19:00 IST
13,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town SOUTH AFRICA",19 JANUARY,19:30 IST
14,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town SOUTH AFRICA",21 JANUARY,19:30 IST
15,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl SOUTH AFRICA",23 JANUARY,19:30 IST
16,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl SOUTH AFRICA",26 JANUARY,19:30 IST
17,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl SOUTH AFRICA",11 JANUARY,14:00 IST
18,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town SOUTH AFRICA",14 JANUARY,14:00 IST
19,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town SOUTH AFRICA",16 JANUARY,14:00 IST

## Question 3

In [110]:
url = "https://www.guru99.com/"
driver.get(url)

time.sleep(2) #wait for 2 m.s.

text1 = driver.find_elements_by_xpath("//li[@class='fa fa-chevron-circle-right']") #Looking for Selenium
text2 = driver.find_elements_by_xpath("//li[@class='fa fa-chevron-circle-right']/a") #Looking for Hyperlink
leng = len(text1)
for i in range(0,leng):
    if(text1[i].text == "Selenium"): #If selenium found open the link and break the loop
        url = text2[i].get_attribute('href')
        break
driver.get(url)
time.sleep(4)

link1 = driver.find_elements_by_xpath("//table[@class='table'][5]/tbody/tr/td[2]") #Looking for Selenium Exception Handling
link2 = driver.find_elements_by_xpath("//table[@class='table'][5]/tbody/tr/td[1]/a") #Looking for Hyperlink
leng = len(link1)
for i in range(0,leng): #If found Exception Handling than open the link and break the loop
    if(link1[i].text == "Selenium Exception Handling (Common Exceptions List)"):
        url = link2[i].get_attribute('href')
        break
driver.get(url)
time.sleep(4)

Name = []
Desc = []
for i in range(2,43):
    link1 = driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[1]") #Exception Name
    link2 = driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[2]") #Description
    Name.append(link1.text)
    Desc.append(link2.text)
    
Exceptions=pd.DataFrame({}) #DataFrame
Exceptions['Exception name'] = Name
Exceptions['Description'] = Desc
Exceptions

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# #Question 4

In [33]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
import os
import datetime
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver

In [34]:
driver = webdriver.Chrome(r"C:\Users\gokula krishnan\Downloads\chromedriver_win32\chromedriver.exe")

In [35]:
time.sleep(4)
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(6)

In [40]:
Economy = driver.find_elements_by_xpath('//div[@class="dropdown"]')[1]
hover = ActionChains(driver).move_to_element(Economy)
hover.perform()

In [42]:
GDP = driver.find_element_by_xpath("//a[@href='india/indian-states-gdp.php']")
GDP.click()

In [43]:
Table = driver.find_element_by_xpath("//table[@id='table_id' and @class='display dataTable']//tbody//tr")
Table = list(map(lambda x:[x.find_elements_by_xpath('td')[0].text,x.find_elements_by_xpath('td')[1].text,x.find_elements_by_xpath('td')[2].text,x.find_elements_by_xpath('td')[3].text,x.find_elements_by_xpath('td')[4].text,x.find_elements_by_xpath('td')[5].text,x.find_elements_by_xpath('td')[6].text,x.find_elements_by_xpath('td')[7].text],driver.find_elements_by_xpath("//table[@id='table_id' and @class='display dataTable']//tbody//tr")))

In [44]:
rank=[]
state=[]
gsdp_19_20=[]
gsdp_18_19=[]
Share_2018=[]
GDP=[]

for i in Table:
    rank.append(i[0])
    state.append(i[1])
    gsdp_19_20.append(i[3])
    gsdp_18_19.append(i[3])
    Share_2018.append(i[4])
    GDP.append(i[5])

In [45]:
df = pd.DataFrame({'Rank':rank,'StateName':state,'GSDP_19_20':gsdp_19_20,'GSDP_18_19':gsdp_18_19,'Share':Share_2018,'GDP $billion':GDP})
df

   Rank                  StateName GSDP_19_20 GSDP_18_19   Share GDP $billion
0     1                Maharashtra  2,632,792  2,632,792  13.94%      399.921
1     2                 Tamil Nadu  1,630,208  1,630,208   8.63%      247.629
2     3              Uttar Pradesh  1,584,764  1,584,764   8.39%      240.726
3     4                    Gujarat  1,502,899  1,502,899   7.96%      228.290
4     5                  Karnataka  1,493,127  1,493,127   7.91%      226.806
5     6                West Bengal  1,089,898  1,089,898   5.77%      165.556
6     7                  Rajasthan    942,586    942,586   4.99%      143.179
7     8             Andhra Pradesh    862,957    862,957   4.57%      131.083
8     9                  Telangana    861,031    861,031   4.56%      130.791
9    10             Madhya Pradesh    809,592    809,592   4.29%      122.977
10   11                     Kerala    781,653    781,653   4.14%      118.733
11   12                      Delhi    774,870    774,870   4.10%      117.703
12   13                    Haryana    734,163    734,163   3.89%      111.519
13   14                      Bihar    530,363    530,363   2.81%       80.562
14   15                     Punjab    526,376    526,376   2.79%       79.957
15   16                     Odisha    487,805    487,805   2.58%       74.098
16   17                      Assam    315,881    315,881   1.67%       47.982
17   18               Chhattisgarh    304,063    304,063   1.61%       46.187
18   19                  Jharkhand    297,204    297,204   1.57%       45.145
19   20                Uttarakhand    245,895    245,895   1.30%       37.351
20   21            Jammu & Kashmir    155,956    155,956   0.83%       23.690
21   22           Himachal Pradesh    153,845    153,845   0.81%       23.369
22   23                        Goa     73,170     73,170   0.39%       11.115
23   24                    Tripura     49,845     49,845   0.26%        7.571
24   25                 Chandigarh     42,114     42,114   0.22%        6.397
25   26                 Puducherry     34,433     34,433   0.18%        5.230
26   27                  Meghalaya     33,481     33,481   0.18%        5.086
27   28                     Sikkim     28,723     28,723   0.15%        4.363
28   29                    Manipur     27,870     27,870   0.15%        4.233
29   30                   Nagaland     27,283     27,283   0.14%        4.144
30   31          Arunachal Pradesh     24,603     24,603   0.13%        3.737
31   32                    Mizoram     22,287     22,287   0.12%        3.385
32   33  Andaman & Nicobar Islands          -          -       -            -

## Question 5

In [68]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
import os
import datetime
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver

In [69]:
driver = webdriver.Chrome(r"C:\Users\gokula krishnan\Downloads\chromedriver_win32\chromedriver.exe")

In [70]:
time.sleep(4)
url = "https://github.com/"
driver.get(url)
time.sleep(6)

In [71]:
Explore = driver.find_elements_by_xpath('//summary[@class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block"]')[1]
hover = ActionChains(driver).move_to_element(Explore)
hover.perform()

In [72]:
rows = driver.find_elements_by_xpath('//article[@class="Box-row"]')
Title=[]
Description=[]
Contributor=[]
Language=[]
for i in rows:
    Title.append(i.find_element_by_xpath('h1').text)
    Language.append(i.find_elements_by_xpath('div/span')[0].text)
    try:
        Contributor.append(len(i.find_elements_by_xpath('div/span')[1].find_elements_by_xpath('a')))
    except:
        Contributor.append(0)
        Language.append(i.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')[0].text)

In [73]:
df=pd.DataFrame({'Title':Title,'Contributor':Contributor,'Language':Language})
df

                                             Title  Contributor    Language
0                        peng-zhihui / Dummy-Robot            0    Built by
1                            xinntao / Real-ESRGAN            4      Python
2                             ckosmic / sm64ex-ios            5           C
3                  ethereum / ethereum-org-website            5  JavaScript
4     WebDevSimplified / useful-custom-react-hooks            1  JavaScript
5                               trailofbits / algo            5      Python
6             trekhleb / promote-your-next-startup            0    Built by
7                          sdras / awesome-actions            0    Built by
8   cobaltdisco / Google-Chinese-Results-Blocklist            0    Built by
9                         peng-zhihui / L-ink_Card            1           C
10                                 iptv-org / iptv            5  JavaScript
11             peng-zhihui / peng-zhihui.github.io            1        HTML
12                       valinet / ExplorerPatcher            3           C
13                               openwrt / openwrt            5           C
14                             zeromicro / go-zero            5          Go
15                                 ethereum / EIPs            5    Solidity
16                               bitcoin / bitcoin            5         C++
17                                   github / docs            5  JavaScript
18                                    goplus / gop            5          Go
19                        jklepatch / eattheblocks            5  JavaScript
20                        filecoin-project / lotus            5          Go
21                               bevyengine / bevy            5        Rust
22                 NationalSecurityAgency / ghidra            5        Java
23                                     golang / go            5          Go
24                          raimohanska / ourboard            5  TypeScript

## Question 6

In [74]:
url = "https://www.billboard.com/"
driver.get(url)
driver.implicitly_wait(20)

In [75]:
Hot_100 = driver.find_elements_by_xpath('//a[@class="header__subnav__link text--uppercase font--semi-bold"]')[2]
Hot_100.click()
rows = driver.find_elements_by_xpath('//button[@class="chart-element__wrapper display--flex flex--grow sort--this-week"]')
#Creating empty list
Song_Name=[]
Artist_Name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]
for i in rows:
    Song_Name.append(i.find_element_by_xpath('span[@class="chart-element__information"]/span[@class="chart-element__information__song text--truncate color--primary"]').text)
    Artist_Name.append(i.find_element_by_xpath('span[@class="chart-element__information"]/span[@class="chart-element__information__artist text--truncate color--secondary"]').text)
    Last_week_rank.append(i.find_element_by_xpath('div[@class="chart-element__metas chart-element__metas--large display--flex flex--y-center"]/div[@class="chart-element__meta text--center color--secondary text--last"]').text)
    Peak_rank.append(i.find_element_by_xpath('div[@class="chart-element__metas chart-element__metas--large display--flex flex--y-center"]/div[@class="chart-element__meta text--center color--secondary text--peak"]').text)
    Weeks_on_board.append(i.find_element_by_xpath('div[@class="chart-element__metas chart-element__metas--large display--flex flex--y-center"]/div[@class="chart-element__meta text--center color--secondary text--week"]').text)

In [76]:
#creating dataframe
df=pd.DataFrame({'Song_Name':Song_Name,'Artist_Name':Artist_Name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})
df

,Song_Name,Artist_Name,Last_week_rank,Peak_rank,Weeks_on_board
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

## Question 7

In [104]:
url = 'https://www.naukri.com/' #getting the required url
driver.get(url)

time.sleep(2) #wait for 2 m.s.

Recut=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a") #Looking for Recruiters page
driver.get(Recut.get_attribute('href')) #Opening the Recuiters page
time.sleep(2) #wait for 2 m.s.

search_job = driver.find_element_by_xpath("//input[@class='sugInp']") #search bar
search_job.send_keys("Data science") #Adding "Data science" in search bar

search_btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']") #submit button
search_btn.click() #submitting the input
time.sleep(2) #wait for 2 m.s.

Name = []
Designation = []
Company = []
Skills_they_hire_for = []
Location = []
for i in range(1,26): # 50 Recruiter are there in pair of 2 so we'll run the loop from 1 to 26
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/a[1]/span") #Name
    Name.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/a[1]/span") #Name
    Name.append(link2.text)
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/span[1]") #Designation
    Designation.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/span[1]") #Designation
    Designation.append(link2.text)
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/a[2]") #Company
    Company.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/a[2]") #Company
    Company.append(link2.text)
    try:
        link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div/p/span[2]/small") #Location
        Location.append(link1.text)
    except NoSuchElementException as e:
        Location.append("-") #If not found add "-"
    try:
        link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div/p/span[2]/small") #Location
        Location.append(link2.text)
    except NoSuchElementException as e:
        Location.append("-") #If not found add "-"
    link1 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[1]/div/div[2]") #Skills
    Skills_they_hire_for.append(link1.text)
    link2 = driver.find_element_by_xpath("//div[@class='outerRecSec']["+str(i)+"]/div[2]/div/div[2]") #Skills
    Skills_they_hire_for.append(link2.text)
    
Naukri = pd.DataFrame({}) #DataFrame
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills they hire for'] = Skills_they_hire_for
Naukri['Location'] = Location
Naukri

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-

## Question 8

In [77]:
driver = webdriver.Chrome(r"C:\Users\gokula krishnan\Downloads\chromedriver_win32\chromedriver.exe")

In [78]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
driver.implicitly_wait(20)

In [79]:
Rows = driver.find_element_by_xpath("//table[@class='in-article sortable']").find_elements_by_xpath("tbody/tr")
#creating empty list
name=[]
author=[]
vol=[]
publisher=[]
genre=[]

for i in Rows:
    j = i.find_elements_by_xpath("td")
    name.append(j[1].text)
    author.append(j[2].text)
    vol.append(j[3].text)
    publisher.append(j[4].text)
    genre.append(j[5].text)

In [80]:
#creating data frame
df = pd.DataFrame({'Name':name,'AuthorName':author,'VolumeSold':vol,'Publisher':publisher,'Genre':genre})
df

,Name,AuthorName,VolumeSold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Question 9

In [81]:
driver = webdriver.Chrome(r"C:\Users\gokula krishnan\Downloads\chromedriver_win32\chromedriver.exe")

In [82]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.implicitly_wait(20)

In [84]:
Rows = driver.find_elements_by_xpath('//div[@class="lister list detail sub-list"]//div[@class="lister-list"]//div[@class="lister-item mode-detail"]')
# creating empty list
name=[]
span=[]
runtime=[]
genre=[]
rating=[]
votes=[]
for i in Rows:
    try:
        name.append(i.find_element_by_xpath('div[@class="lister-item-content"]//h3[@class="lister-item-header"]//a').text)
    except:
        name.append('')
    try:
        span.append(i.find_element_by_xpath('div[@class="lister-item-content"]//h3[@class="lister-item-header"]//span[@class="lister-item-year text-muted unbold"]').text)
    except:
        span.append('')
    try:
        runtime.append(i.find_element_by_xpath('div[@class="lister-item-content"]//p[@class="text-muted text-small"]//span[@class="runtime"]').text)
    except:
        runtime.append('')
    try:
        genre.append(i.find_element_by_xpath('div[@class="lister-item-content"]//p[@class="text-muted text-small"]//span[@class="genre"]').text)
    except:
        genre.append('')
    try:
        rating.append(i.find_element_by_xpath('div[@class="lister-item-content"]//div[@class="ipl-rating-widget"]//span[@class="ipl-rating-star__rating"]').text)
    except:
        rating.append('')
    try:
        votes.append(i.find_elements_by_xpath('div[@class="lister-item-content"]//p[@class="text-muted text-small"]')[2].find_elements_by_xpath("span")[1].text)
    except:
        votes.append('')

In [85]:
#creating dataframe
df = pd.DataFrame({'Name':name,'Span':span,'Runtime':runtime,'Genre':genre,'Rating':rating,'Votes':votes})
df

,Name,Span,Runtime,Genre,Rating,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2,"1,882,718"
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7,"916,086"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.2,"904,442"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.5,"270,944"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"231,325"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,"Drama, Fantasy",7.5,"45,903"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"56,775"
97,Criminal Minds,(2005–2020),42 min,"Crime, Drama, Mystery",8.1,"177,365"
98,Scream: The TV Series,(2015–2019),45 min,"Comedy, Crime, Drama",7.1,"36,891"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"203,791"

## Question 10

In [86]:
driver = webdriver.Chrome(r"C:\Users\gokula krishnan\Downloads\chromedriver_win32\chromedriver.exe")

In [87]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [88]:
all_dataset=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]')
all_dataset.click()

In [89]:
name=[]

names=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')

for i in names:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('--')

In [90]:
data_type=[]

types=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')

for i in types:
    try:
        data_type.append(i.text)
    except NoSuchElementException:
        data_type.append('--')

In [91]:
task=[]

tasks=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')

for i in tasks:
    try:
        task.append(i.text)
    except NoSuchElementException:
        task.append('--')

In [92]:
attribute=[]

attr=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')

for i in attr:
    try:
        attribute.append(i.text)
    except NoSuchElementException:
        attribute.append('--')

In [93]:
num_instances=[]

inst=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')

for i in inst:
    try:
        num_instances.append(i.text)
    except NoSuchElementException:
        num_instances.append('--')

In [95]:
num_attr=[]

attrb=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')

for i in attrb:
    try:
        num_attr.append(i.text)
    except NoSuchElementException:
        num_attr.append('--')

In [96]:
year=[]

yr=driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

for i in yr:
    try:
        year.append(i.text)
    except NoSuchElementException:
        year.append('--')

In [97]:
Datasets=pd.DataFrame()

Datasets['Name']=name[1:]
Datasets['Data Type']=data_type[1:]
Datasets['Default Task']=task[1:]
Datasets['Attribute Type']=attribute[1:]
Datasets['Num of Instances']=num_instances[1:]
Datasets['Num of Attributes']=num_attr[1:]
Datasets['Year']=year[1:]

Datasets

,Name,Data Type,Default Task,Attribute Type,Num of Instances,Num of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021